body{
    /* background: linear-gradient(to right, #fff,#252b34); */
    background: #252b34 ;
}
.course{
    display: flex;
    background: linear-gradient(to right, #fff,#252b34);
    width: 80%;
    margin: 50px auto 0;
    border-radius: 10px;
    padding: 30px;
    box-shadow: 5px 5px 17px #fff;
    display: flex;
    flex-wrap: wrap;
    gap: 3rem;
  }
  
  .course .box{
    flex:1 1 20rem;
    border-radius: .5rem;
    border:.1rem solid rgba(0,0,0,.1);
    padding:1rem;
    position: relative;
  }
  
  .course .box img{
    height:20rem;
    width:100%;
  }
  
  .course .box .amount{
    position: absolute;
    top:1rem; left:1rem;
    font-size: 2rem;
    padding:.5rem 1rem;
    background: red;
    color:#fff;
    border-radius: .5rem;
  }
  
  .course .box .stars i{
    color: green;
    font-size: 1.5rem;
    padding:1rem 0;
  }
  
  .course .box h3{
    color:#fff;
    font-size: 2.5rem;
  }
  
  .course .box p{
    color:#000;
    font-size: 1.5rem;
    padding:.5rem 0;
  }
  
  .course .icons{
    display: flex;
    justify-content: space-between;
    border-top: .1rem solid rgba(0,0,0,.1);
    margin-top: 1rem;
    padding:.5rem;
    padding-top: 1rem;
  }
  
  .course .icons p{
    color:#000;
    font-size: 1.3rem;
  }
  
  .course .icons p i{
    padding-right: .4rem;
    color: red;
  }



  .footer .box-container{
    display: flex;
    flex-wrap: wrap;
    gap:1.5rem;
  }
  
  .footer .box-container .box{
    flex:1 1 20rem;
  }
  
  .footer .box-container .box h3{
    font-size: 2.5rem;
    color:rgb(0, 255, 162);
    padding:.7rem 0;
  }
  
  .footer .box-container .box p{
    font-size: 1.5rem;
    color:#fff;
    padding:.7rem 0;
  }
  
  .footer .box-container .box a{
    display: block;
    font-size: 1.5rem;
    color:#fff;
    padding:.7rem 0;
  }
  
  .footer .box-container .box a:hover{
    color:red;
  }
  
  .footer .box-container .box p i{
    padding-right: .5rem;
    color:#fff;
  }
  
  .footer .credit{
    font-size: 2rem;
    margin-top: 1rem;
    padding:1rem;
    padding-top: 2rem;
    text-align: center;
    border-top: .1rem solid rgba(0,0,0,.1);
    color:#666;
  }
  
  .footer .credit span{
    color: #fff;
  }
  