body{
    background: #666;
}

section{
    padding: 2rem 4%;
  }

.container{
    min-height: 20vh;
    background:#fff;
    border-radius: .5rem;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.2);
  }
  
.heading{
    color:transparent;
    background: rgba(0,0,0,.2);
    -webkit-background-clip: text;
    background-clip: text;
    padding:0 1rem;
    padding-top: 2.5rem;
    text-align: center;
    font-size: 4rem;
    text-transform: uppercase;
  }
  
  .btn{
    display: inline-block;
    margin-top: 1rem;
    padding:.8rem 3rem;
    border-radius: .5rem;
    background:#333;
    color:#fff;
    cursor: pointer;
    font-size: 1.7rem;
  }
  
  .btn:hover{
    background: rgba(0,0,0,.2);
  }
  .contact{
    min-height: 20vh;
    display: flex;
    flex-wrap: wrap;
    gap:1.5rem;
  }
  
  .contact .image{
    flex:1 1 35rem;
  }
  
  .contact .image img{
    width:100%;
  }
  
  .contact form{
    flex:1 1 50rem;
    border:.1rem solid rgba(0,0,0,.1);
    border-radius: .5rem;
    padding:2rem;
  }
  
  .contact form .inputBox{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  
  .contact form .inputBox input,
  .contact form .box, 
  .contact form textarea{
    width: 100%;
    padding:1rem;
    margin:.7rem 0;
    font-size: 1.7rem;
    border:.1rem solid rgba(0,0,0,.1);
    border-radius: .5rem;
    text-transform: none;
    color:#333;
  } 
  
  .contact form .inputBox input:focus,
  .contact form .box:focus, 
  .contact form textarea:focus{
    border-color: red;
  }
  
  .contact form .inputBox input{
    width:49%;
  }
  
  .contact form textarea{
    height: 20rem;
    resize: none;
  }
  
  .contact form p{
    font-size: medium;
  }
  .contact form span{
    color: red;
  }
  .footer{
    display: flex;
   justify-content:space-between;
   flex-wrap: wrap;
    align-items: center;
    padding: 0.5rem 3%;
    background: rgb(0, 255, 162);
}
.footer-text p {
   font-size: 1.6rem;
   color: #000;
}
.footer-iconTop a {
   display: inline-flex;
   justify-content: center;
   align-items: center;
   padding: .6rem;
   background: #fff;
   border-radius: .6rem;
}
.footer-iconTop a i{
   font-size: 1.5rem;
   color:  rgb(0, 255, 162);
}

